<div class="page-header">
  <%= link_to new_person_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Person
  <% end %>
  <h1>Listing people</h1>
</div>

<ul class="list-group">
  <%- @people.each do |person| %>
    <li class="list-group-item"><%= person.name %> from <%= person.city %> <%= person.state %></li>
  <%- end %>
</ul>
