<div class="page-header">
  <%= link_to new_person_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Person
  <% end %>
  <h1>Listing people</h1>
</div>

<%= react_component("Application", people: @people) %>
<%= react_component("Application", people: @people) %>
